  <div class="row">
    <div class="col s12 m5">
      <div class="card-panel yellow">
        <span class="black-text">
            <ul class="more_list">
                <li>
                  <%= link_to '詳細', "/blogs/#{blog.id}/", method: :get %>
                </li>
              <% if user_signed_in? && current_user.id == blog.user_id %>
                <li>
                  <%= link_to '編集' , "/blogs/#{blog.id}/edit", method: :get %>
                </li>
                <li>
                  <%= link_to '削除', "/blogs/#{blog.id}", method: :delete %>
                </li>
              <% end %>
            </ul>
            <%= simple_format(blog.text) %>
            <span class="name">
              <a href="/users/<%= blog.user_id %>">
                <span>投稿者</span><%= blog.user.nickname %>
              </a>
            </span>
        </span>
      </div>
    </div>
  </div>

